<table>
<tr>
  <td width="48%">
  <%= render partial: 'search_people', :locals => {:post => post} %> 
  </td>
  <td width="15%" align="center"> for </td>
  <td width="37%">
  <%= render partial: 'search_budget', :locals => {:post => post} %> 
  </td>
  </tr>
  </table>
