<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
  <title>white/black</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="The best and the worst of you">
  <meta name="author" content="">
  <%= javascript_include_tag 'custom' %>
<%= render 'navbar' %>

  <div class="loading"> 
    <div class="container">

<h1>Today</h1>
      <div class="col-12 col-sm-12 col-lg-12">
      <%= render 'front_panel' %>
      </div><!--/.col-10-->
    </div><!--/.container-->
  </div><!--/.loading-->

</body>
</html>
