<!DOCTYPE html>
<html lang="en">
  <%= javascript_include_tag 'custom' %>

  <div class="loading"> 
    <div class="container">

<h1>Today</h1>
      <div class="col-12 col-sm-12 col-lg-12">
      <%= render 'front_panel' %>

  <%= paginate @posts %>
      </div><!--/.col-10-->

      </div><!--/.container-->
  </div><!--/.loading-->

</body>
</html>
