<div class="loading">
<div class="col-12">
<h1>Search By</h1>
<h3>Number of People:</h3>
<%= render partial: 'search_people_static' %> 
<h3>Budget:</h3>
<%= render partial: 'search_budget_static' %> 

</div>
</div>
