<head><%= csrf_meta_tag %></head>
<div class="loading">
<div class ="col-12">
<br>

<%= render 'single_confession' %>

<hr>
    <a id="reviews"></a>
    <h3>reviews</h3>
  <%= render @post.comments %>
<hr>
  <h3>add review</h3>
  <%= render 'comments/add_comments' %> 

</div><!--/.col-12-->
</div><!--/.loading-->
