<!--Navbar================================================== -->
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/posts">NomNomNom</a>
      <div class="nav-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/posts/new">submit post</a></li>
        <li><%= link_to "recent", posts_path(:time => "recent") %></li>  
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">  
            best of <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "today", posts_path(:time => "today") %></li>  
            <li><%= link_to "weekly", posts_path(:time => "weekly") %></li>  
            <li><%= link_to "monthly", posts_path(:time => "monthly") %></li>  
            <li><%= link_to "all-time", posts_path(:time => "all-time") %></li>  
          </ul>
        </li>

      </ul>
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">  
            <% if current_user %>
            <%= current_user.email %> <span class="caret"></span>
            <% else %>
            Guest
            <% end %>
          </a>
          <ul class="dropdown-menu">
            <li><%= render 'devise/menu/registration_items' %></li>
            <li><%= render 'devise/menu/login_items' %></li>
          </ul>
        </li>
      </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-->
  </div><!--/.navbar-inner-->
</div><!--/.navbar navbar-fixed-top -->

